* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 52%;
    margin: auto;
}

.just_between {
    display: flex;
    justify-content: space-between;
}