* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 55%;
    margin: auto;
}

.just_between {
    display: flex;
    justify-content: space-between;
}

.fa-facebook-square {
    color: $facebook;
}

.fa-twitter-square {
    color: $twitter;
}

.fa-instagram-square {
    color: $instagram;
}