header {
    background-image: url('/dist/img/header-image-homepage.jpg');
    color: $cube_white;
    height: 55rem;
    position: relative;


    img {
        width: 18rem;
        margin: 2rem 0;
    }

    div {
        align-self: center;

        ul {

            li {
                margin-left: 2.5rem;
                text-transform: uppercase;
                display: inline-block;

                a {
                    text-decoration: none;
                    color: $cube_white;
                    font-weight: 300;
                    font-size: 0.9rem;
                }
            }

            li:first-child a {
                color: $cube_primary;
            }

            li:last-child a {
                @include btn;
            }
        }
    }
}