header {
    background-image: url('../img/header-image-homepage.jpg');
    color: $cube_white;
    height: 55rem;
    background-size: cover;

    nav {
        width: 90%;
        margin: auto;


        img {
            width: 18rem;
            margin: 2rem 0;
        }

        div {
            align-self: center;

            ul {

                li {
                    margin-left: 2.5rem;
                    text-transform: uppercase;
                    display: inline-block;

                    a {
                        @include standard_a;
                    }
                }

                li:first-child a {
                    color: $cube_primary;
                }

                li:last-child a {
                    @include btn;
                }
            }
        }
    }
}