.jumbo_text {
    width: 60%;
    margin: 7rem 0;


    h2 {
        font-size: 4rem;
        font-weight: 300;
        margin-bottom: 1rem;

        span {
            color: $cube_primary;
        }
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 3rem;
        font-weight: 300;
    }

    &>span {
        @include btn;
        text-transform: uppercase;
    }
}