    .welcome {
        margin: auto;
        text-align: center;
        color: $cube_text;
        padding-top: 5rem;

        &>h2 {
            @include section_title;
        }

        &>div>p {
            @include section_p;
        }
    }

    .card_container {
        display: flex;
        justify-content: space-around;

        .card {
            @include card_margin;

            h3 {
                @include card_title;
            }

            p {
                @include card_p;
            }
        }
    }