.meet {
    background-color: $median_bg;

    @include standard_section;


    & .card_container {

        .card {
            background-color: $cube_white;

            img {
                width: 100%;
            }


            &>div {
                text-align: left;

                h3 {
                    width: 84%;
                    margin: auto;
                }

                h4 {
                    width: 84%;
                    margin: auto;
                    font-weight: 300;
                    margin-top: 1rem;
                }

                &>p {
                    margin: 1rem auto;
                    width: 84%;
                }

                .social_icon {
                    width: 84%;
                    margin: auto;
                    margin: 2rem auto;

                    i {
                        @include social_i;
                    }
                }
            }

        }
    }
}

.meet .card {
    width: 270px;
}