.welcome {
    // margin: auto;
    text-align: center;
    color: $cube_text;
    padding: 5rem 0;

    h2 {
        @include section_title;
    }

    &>div>p {
        @include section_p;
    }
}

@include standard_card;

.welcome .card {
    width: 23%;

    p {
        font-size: 0.8rem;
    }
}