.health {

    @include standard_section;

    hr {
        background-color: $cube_gray;
    }

    .card {
        width: 33%;
    }

    .card:not(:nth-child(1)),
    .card:not(:nth-child(2)),
    .card:not(:nth-child(3)) {
        margin-top: 3rem;
    }
}