.slider {
    background: linear-gradient(90deg, #50BCB5 0%, #3F73B4 100%);

    .slider_image {
        width: 50%;
        margin: auto;
        padding: 5rem 0;
        overflow-x: hidden;

        &>div {
            flex-wrap: nowrap;
            display: flex;
            animation: slide_show 30s infinite;
        }
    }

}

@keyframes slide_show {

    0%,
    100% {
        margin-left: 0%;
    }

    50% {

        margin-left: -50%;
    }

    80% {
        margin-left: -50%;
    }
}