//Color Cube
$cube_white: #ffffff;
$cube_primary: #39AFBB;
$cube_text: #46525F;
$cube_gray: #BCBCBD;

// Median Cut

$median_bg: #F1EFEF;

// Social

$facebook: #3C5998;
$twitter: #54ACEE;
$instagram: #3F729B;
$you_tube: #CD201F;

// Learn Color
$learn_f: #3AAFBF;
$learn_s: #3597C3;
$learn_t: #327EC7;